@font-face {
    font-family: "VIVALDII";
    src: url(https://oltreilfiume.altervista.org/font/VIVALDII.ttf) format("truetype");
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(https://oltreilfiume.altervista.org/imgcertificati/bg/bgfogliaoro2.png);
    background-attachment: fixed;
    font-size: 16px;
}
#container2 {
    overflow: hidden;
    margin: 50px auto 50px auto;
    width: 40%;
    border: 5px double #6c4a23;
    border-radius: 350px 5px 100px 0;
    background-color: black;
}
#top-img {
    text-align: center;
}
#top-img img {
    width: 100%;
    border-radius: 350px 5px 0 0;
    padding: 3px 1px 2px 3px;
}
.divisori {
    margin: 30px 0 10px 0;
    text-align: center;
}
.divisori img {
    width: 50%;
}
#box-dest {
    text-align: center;
}
#box-dest p {
    margin: 15px 0;
    color: #a48d54;
    font-size: 1.2rem;
}
#box-dest h1{
    color: #a48d54;
    font-style: italic;
}
/* Da lasciare per i vecchi certificati */
#box-dest h2{
    color: #a48d54;
    font-style: italic;
}
input {
    width: 40%;
}
button {
    width: 10%;
}
textarea {
    width: 100%;
}
#data p{
    font-weight: 600;
}
#nomeanimale {
    text-align: center;
}
#nomeanimale h1 {
    color: #a48d54;
    font-family: VIVALDI;
}
#immaginec {
    margin-top: 20px;
    text-align: center;
}
#immaginec img {
    border: 4px double #6c4a23;
    border-radius: 20px; 
}
#h1info {
    text-align: center;
}
#h1info h1 {
    color: #a48d54;
    font-family: VIVALDI;
}
#h1dettagli {
    margin-top: 20px;
    text-align: center;
}
#h1dettagli p {
    text-align: justify;
    padding: 0 50px;
    color: #91908f;
}
#h1RES {
    margin-top: 10px;
    padding-left: 50px;
}
#h1RES ul {
    list-style: none;
}
#h1RES ul li {
    color: #91908f;
}
#h2info {
    text-align: center;
}
#h2info h1 {
    color: #a48d54;
    font-family: VIVALDI;
}
#h2dettagli {
    margin-top: 20px;
    text-align: center;
}
#h2dettagli p {
    margin-top: 10px;
    padding: 0 50px;
    text-align: justify;
    color: #91908f;
}
#dedica {
    margin-top: 10px;
    padding-left: 50px
}
#dedica p { 
    padding: 0 50px 0 0;
}
#dedicar {
    text-align: center;
}
#dedicar p {
    color: #91908f;
}
#deditext {
    margin-top: 10px;
    width: 100%;
    display: none;
}
#checkstate label {
    color: #91908f;
    font-weight: 600;
} 
#checkstate input {
    width: 0%;
}
#nomefile {
    margin-top: 10px;
    text-align: center;
}
#submitter {
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
#firma {
    text-align: center;
}
#firma a {
    text-decoration: none;
    color: #a48d54;
    font-family: VIVALDI;
    font-size: 2.2rem;
    font-weight: 600;
}
#footer {
    margin-bottom: 20px;
    text-align: center;
}
#footer p {
    padding: 0 100px;
    font-size: 0.6rem;
    color: #91908f;
}
#footer a img {
    margin-top: 10px;
    width: 40px;
    height: 50px;
}
#box-rev {
    margin: 10px 0;
    text-align: center;
}
#box-rev p {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #a48d54;
}
#box-rev a {
    text-decoration: none;
    color: white;
}
#box-rev a:hover {
    font-size: 1.2rem;
}

@media screen and (max-width: 1000px) {
    #container {
        width: 60%;
    }
    #footer p {
        padding: 0 50px;
    }
}

@media screen and (max-width: 600px) {
    #container {
        width: 70%;
    }
    #immaginec img {
        width: 70%;
    }
}